<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>katon.firewall</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>-c</string>
        <string>
            sysctl -w net.inet.ip.forwarding=1;
            echo "rdr pass inet proto tcp from any to self port {80,<%= httpPort %>} -> 127.0.0.1 port <%= httpPort %>\nrdr pass inet proto tcp from any to self port {443,<%= httpsProxyPort %>} -> 127.0.0.1 port <%= httpsProxyPort %>" | pfctl -a "com.apple/250.KatonFirewall" -Ef -
        </string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>UserName</key>
    <string>root</string>
</dict>
</plist>
