<p>katon is successfully running.</p>
<h2>Current apps:</h2>

<ul>
  <% Object.keys(procs).forEach(function(name) { %>
    <li>
      <a class="app" href="http://<%= name %>.ka/"><%= name %></a>
      <small><%= procs[name].command.join(' ') %></small>
    </li>
  <% }) %>
</ul>

<h2><a href="http://xio.io">xip.io</a></h2>

<p>
  To access apps from another device (iPad, iPhone, ...) go to:
</p>

<p>
  http://&lt;app-name&gt;.<%= ip %>.xip.io
</p>
