<table class="table">
  <thead>
    <th>local</th>
    <th>xip.io *</th>
    <th>command</th>
    <th>status</th>
  </thead>
  <% Object.keys(procs).forEach(function(name) { %>
    <tr>
      <td>
        <a href="//<%= name %>.ka/"><%= name %>.ka/</a>
      </td>
      <td>
        <a href="http://<%= name %>.<%= ip %>.xip.io">http://<%= name %>.<%= ip %>.xip.io</a>
      </td>
      <td>
        <%= procs[name].command.join(' ') %>
      </td>
      <td>
        <%= procs[name].status %>
      </td>
    </tr>
  <% }) %>
</table>

<p><em>* xip.io is a wildcard DNS service, you can use these addresses to access your development web server from devices on your local network, like iPads, iPhones, and other computers.</em></p>
<pre id="tail" class="pre-scrollable"></pre>

<script>
var tail   = document.getElementById('tail');
var source = new EventSource('/tail');
source.addEventListener('line', function(event) {
  var message         = JSON.parse(event.data);
  var entry           = document.createElement('div')
  var prefix          = document.createElement('span')
  prefix.textContent  = message.prefix + ':  '
  prefix.className    = 'text-primary'
  entry.appendChild(prefix)
  var line            = document.createElement('span')
  line.className      = 'text-nowrap'
  line.textContent    = message.line
  entry.appendChild(line)
  tail.appendChild(entry)
  tail.scrollTop      = entry.offsetTop
});
</script>
