<!DOCTYPE html>
<html>
<head>
  <title>Katon</title>
  <style>
  	body {
			padding: 50px;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  	}
  	a {
  		color: black;
  	}
  	ul, li {
  		list-style: none;
      margin-top: 10px;
  	}
        .app {
            font-weight: bold;
            margin-right: 20px;
        }
        small {
            color: #999;
            margin-left: 10px;
        }
  </style>
</head>
<body>
  <h1>katon</h1>
  <%- yield %>
  <p>
  	<a href="https://github.com/typicode/katon">View project on GitHub</a>
  </p>
</body>
</html>
